.places__website {
  align-self: end;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .places__website {
    align-self: start;
    padding: 0 16px;
  }
}