.header__lang-links {
  margin: 0;
  padding: 0 0 6px;
  display: flex;
  list-style-type: none;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    padding: 0 0 8px;
  }
}
