.places__item {
  margin: 0 0 81px;
  padding: 0;
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 40px;
  row-gap: 47px;
}

.places__item:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .places__item {
    column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .places__item {
    margin: 0 0 73px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .places__item {
    margin-bottom: 49px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}